<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Editar paciente", edit_pet_path(@pet) %> |
  <%= link_to "Listado de pacientes", pets_path %>
  
</div>
<br>
<%= button_to "Eliminar paciente", @pet, method: :delete %>
<br>
<%= render @pet %>
