<div id="<%= dom_id group %>">


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card border-success mb-3 card h-100" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">
            <p><h3><strong><%= group.name %></strong></h3></p>
        </div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
          
          
          
          
          
          
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>

  </div>

</div>






<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cant conciertos este mes</th>
      <th scope="col">Ultimo Concierto</th>
      <th scope="col">Asistencia</th>
      <th scope="col">Max Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= group.concert_this_month %></td>
      <td><%= group.last_concert %></td>
      <td><%= group.max_attendance %></td>
      <td><%= group.max_duration %></td>
    </tr>
  </tbody>
</table>

</div>
