<div id="<%= dom_id pet_history %>">

    <p>
    <strong>Dueño</strong>
    <%= pet_history.owner %>
  </p>
  
  <p>
    <strong>Nombre Mascota</strong>
    <%= pet_history.pet_name %>
  </p>

  <p>
    <strong>Peso</strong>
    <%= pet_history.weight %>
  </p>

  <p>
    <strong>Altura</strong>
    <%= pet_history.height %>
  </p>

  <p>
    <strong>Descripcion</strong>
    <%= pet_history.description %>
  </p>

</div>
