<div id="<%= dom_id group %>">


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card border-success mb-3 card h-100" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">
            <h2><strong><%= group.name %></strong></h2>
        </div>
        <div class="card-body text-success">
          <h5 class="card-title"><strong>Debut: <%= group.debut_date %></strong></h5>
          <p class="card-text">
            <p><strong>Integrantes: <%= group.crew %></strong></p>
            <p><strong>Group type:  <%= group.group_type %></strong></p>
            <th>Concerts: </th>
              <td>
                  <ul>
                    Conciertos: <%= group.q_concert %>
                    <% group.concerts.each do |concert| %>
                      <li> <%= concert.place %>, publico => <%= concert.attendance %>  </li>
                    <%end%>
                  </ul>
               </td>          
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Conciertos del mes</th>
                <th scope="col">Ultimo Concierto</th>
                <th scope="col">Asistencia </th>
                <th scope="col">Max Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><%= group.concert_this_month %></td>
                <td><%= group.last_concert %></td>
                <td><%= group.max_attendance %></td>
                <td><%= group.max_duration %></td>
              </tr>
            </tbody>
          </table>
        
        
        </div>
      </div>

  </div>

</div>








</div>
