<h1>Editar Concierto</h1>

<%= render "form", concert: @concert %>

<br>

  <div class="d-flex flex-row  justify-content-around">
    <div class="p-2"><%= button_to "Mostrar este Concierto", @concert, method: :get  %>  </div>
    <div class="p-2"><%= button_to "Volver a Conciertos", concerts_path, method: :get %></div>
    <div class="p-2"><%= button_to "Eliminar Concierto", @concert, method: :delete %></div>
                                    <%= button_to "Eliminar", libro_path(libro), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar el Libro seleccionado?')"%>
  </div>