<p style="color: green"><%= notice %></p>

  <p>
    <strong>Grupo:</strong>
    <%= concert.group_name %>
  </p>

  <p>
    <strong>Asistentes:</strong>
    <%= concert.attendance %> Personas
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= concert.duration %> Horas
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= concert.place %>
  </p>

  <p>
    <strong>Fecha:</strong>
      <%= l concert.date, format: "%d-%b-%Y" %>
  </p>


<div>
  <%= link_to "Editar Concierto", edit_concert_path(@group) %> |
  <%= link_to "Volver a Grupos", groups_path %>

  <%= button_to "Eliminar Grupo", @group, method: :delete %>
</div>
