<p style="color: green"><%= notice %></p>

<%= render @concert %>

<div>
  <%= button_to "Eliminar este Concierto", @concert, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <br>
  <%= button_to "Editar este Concierto", edit_concert_path(@concert) %> 
  <br>
  <%= button_to "Volver a Conciertos", concerts_path %>

  
</div>
