<div id="<%= dom_id order %>">
   <p>
    <strong>num order:</strong>
    <%= order.num_order %>
  </p>

  <p>
    <strong>D order:</strong>
    <%= order.d_order %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= order.score %>
  </p>

  <p>
    <strong>Send:</strong>
    <%= order.o_send %>
  </p>

</div>
