<div id="<%= dom_id group %>">

<div class="card text-center">
  <div class="card-header">
    <h2><strong><%= group.name %></strong></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Debut: <%= group.debut_date %></h5>
    <p class="card-text">
      <div class="row row-cols-6 row-cols-md-3 g-4">
        <p><strong>Integrantes: <%= group.crew %></strong></p>
        <p><strong>Group type:  <%= group.group_type %></strong></p>
      </div>
          <td>
                  <div class="card-footer bg-transparent border-success">
                    <td>
                      Cantidad Conciertos: <%= group.q_concert %>
                    </td>
                    <table class="table table-striped">

                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Ubicacion</th>
                          <th scope="col">Cant Publico</th>
                          <th scope="col">Duracion</th>
                        </tr>
                      </thead>
                      <% num = 1%>
                      <% group.concerts.each do |concert| %>
                          <tbody>
                            <tr>
                              <th scope="row"><%=num%></th>
                              <td><%= concert.date %></td>
                              <td><%= concert.place %></td>
                              <td><%= concert.attendance %> </td>
                              <td><%= concert.duration %> </td>
                            </tr>
                          </tbody>
                          <% num +=1%>
                      <%end%>
                    </table>
                  </div>
          </td>  
          <td>
            <ul>
              <li> Cant Conciertos de este mes: <%= group.concert_this_month %> </li>
              <li> Fecha Ultimo Concierto: <%= group.last_concert %> </li>
              <li> Mayor Asistencia en un Concierto: <%= group.last_concert %> </li>
              <li> Mayor Duracion en un Concierto: <%= group.last_concert %> </li>
            </ul>
          </td>        
   </p>
  </div>
  <div class="card-footer text-muted">
      <button type="button" class="btn btn-outline-info text-white text-decoration-none" ><%= link_to "Show this group", group %></button>
  </div>
</div>


                  <th scope="col">Conciertos del mes</th>
                  <th scope="col">Ultimo Concierto</th>
                  <th scope="col">Asistencia Max</th>
                  <th scope="col">Duracion Max</th>

                  <td><%= group.concert_this_month %></td>
                  <td><%= group.last_concert %></td>
                  <td><%= group.max_attendance %></td>
                  <td><%= group.max_duration %></td>






  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-success mb-3 card h-100 w-100" >
          <div class="card-header bg-transparent border-success">
              <h2><strong><%= group.name %></strong></h2>
          </div>
          <div class="card-body text-success">
            <h5 class="card-title"><strong>Debut: <%= group.debut_date %></strong></h5>
            <p class="card-text">
            
              <p><strong>Integrantes: <%= group.crew %></strong></p>
              <p><strong>Group type:  <%= group.group_type %></strong></p>
              <th>Concerts: </th>
                <td>
                    <ul>
                      Conciertos: <%= group.q_concert %>
                      <% group.concerts.each do |concert| %>
                        <li> <%= concert.place %>, publico => <%= concert.attendance %>  </li>
                      <%end%>
                    </ul>
                </td>          
              </td> 
            </p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Conciertos del mes</th>
                  <th scope="col">Ultimo Concierto</th>
                  <th scope="col">Asistencia Max</th>
                  <th scope="col">Duracion Max</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><%= group.concert_this_month %></td>
                  <td><%= group.last_concert %></td>
                  <td><%= group.max_attendance %></td>
                  <td><%= group.max_duration %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

</div>


