<div id="<%= dom_id holder %>">
  <p>
    <strong>Nombre</strong>
    <%= holder.name %>
  </p>

  <p>
    <strong>Fono</strong>
    <%= holder.phone %>
  </p>

  <p>
    <strong>Direccion</strong>
    <%= holder.address %>
  </p>

  <p>
    <strong>Email</strong>
    <%= holder.email %>
  </p>

</div>
