<div id="<%= dom_id concert %>">

  <p>
    <strong>Grupo:</strong>
    <%= concert.group_name %>
  </p>

  <p>
    <strong>Attendance:</strong>
    <%= concert.attendance %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= concert.duration %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= concert.place %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= concert.date %>
  </p>



</div>
