<div id="<%= dom_id detail %>">
  <p>
    <strong>product:</strong>
    <%= detail.product.name %>
  </p>
  <p>
    <strong>order:</strong>
    <%= detail.order.num_order %>
  </p>
  <p>
    <strong>Quanty:</strong>
    <%= detail.quanty %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= detail.unit_price %>
  </p>

</div>
