<%= form_with(model: holder) do |form| %>
  <% if holder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

      <ul>
        <% holder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-center ">

    <div class="card-header">
    </div>
    
    <div class="card-body">
      
        <div class="card-text">
          <div>
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name %>
          </div>

          <div>
            <%= form.label :phone, style: "display: block" %>
            <%= form.text_field :phone %>
          </div>

          <div>
            <%= form.label :address, style: "display: block" %>
            <%= form.text_field :address %>
          </div>

          <div>
            <%= form.label :email, style: "display: block" %>
            <%= form.text_field :email %>
          </div>
            <br>

          <div class="container px-4">
            <div class="row gx-5">
              <div class="col d-flex justify-content-around col-7">

                <%= link_to "Cancelar", holders_path, class:"btn  btn-sm btn-small btn-outline-dark d-flex align-self-center justify-content-around col-3 "%> 
              </div>
              <div class="col d-flex justify-content-around col-3 ">
                <%= form.submit "Ingresar", class:"btn  btn-sm btn-small btn-outline-success d-flex align-self-center justify-content-around col-6 " %>
              </div>
            </div>

          </div>

        </div>
    </div>

    <div class="card-footer text-muted">
    </div>
  </div>

<% end %>



