  <p style="color: green"><%= notice %></p>

  <div class="card border-success mb-3 card h-100 w-100" >

      <div class="card-header bg-transparent border-success">
          <h2><strong><%= @group.name %></strong></h2>
      </div>

      <div class="card-body text-success">
        <h5 class="card-title"><strong>Debut: <%= l @group.debut_date, format: "%d-%b-%Y"  %></strong></h5>
       
        <p class="card-text">
          <p><strong>Tipo Grupo:  <%= @group.group_type %></strong></p>
          <p><strong>Integrantes: <%= @group.integrs %></strong></p>

            <% numi = 1%>
            <td>
              <ul class="list-unstyled">
                <% @group.crews.each do |crew| %>
                  <li> <%= numi %> - <%= crew.name %> 
                  <% numi += 1%>
                <%end%>
              </ul>
            </td>  

            <td>
                <div class="card-footer bg-transparent border-success">
                  <td>
                      <strong>Cantidad Conciertos: <%= @group.q_concert %></strong>
                  </td>
                  <table class="table table-striped">

                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Cant Publico</th>
                        <th scope="col">Duracion</th>
                      </tr>
                    </thead>
                    <% num = 1%>
                    <% @group.concerts.each do |concert| %>
                        <tbody>
                          <tr>
                            <th scope="row"><%=num%></th>
                            <td><%= l concert.date, format: "%d-%b-%Y" %></td>
                            <td><%= concert.place %></td>
                            <td><%= concert.attendance %>  Personas</td>
                            <td><%= concert.duration %> Hora(s)</td>
                          </tr>
                        </tbody>
                        <% num +=1%>
                    <%end%>
                  </table>
                </div>
            </td>  

        </p>

      </div>

      <div class="card-footer bg-transparent border-success">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Conciertos este mes </th>
              <th scope="col">Fecha Ultimo Concierto</th>
              <th scope="col">Mayor Asistencia en Concierto</th>
              <th scope="col">Duracion Maxima de Concierto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @group.concert_this_month %></td>
              <td><%= @group.last_concert %></td>
              <td><%= @group.max_attendance %> personas</td>
              <td><%= @group.max_duration %> Hora(s)</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="d-flex flex-row  justify-content-around">
        <div class="p-2"><%= button_to "Editar Grupo", edit_group_path(@group), method: :get  %>  </div>
        <div class="p-2"><%= button_to "Volver a Grupos", groups_path, method: :get %></div>

        <div class="p-2">      
          <%= button_to "Eliminar", group_path(@group), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar el Grupo seleccionado?')"%>
      </div>
      
  </div>

  <script>
    function confirmDestroy(message) {
      if (!confirm(message)) {
        return false;
      }
    }
  </script>

  <br>