<div id="<%= dom_id pethistory %>">
  <p>
    <strong>Fecha:</strong>
    <%= pethistory.created_at %>
  </p>
  
  <p>
    <strong>Dueño:</strong>
    <%= pethistory.owner %>
  </p>
  
  <p>
    <strong>Nombre mascota:</strong>
    <%= pethistory.pet_name %>
  </p>
  <p>
    <strong>Peso:</strong>
    <%= pethistory.weight %>
  </p>
  
  <p>
    <strong>Altura:</strong>
    <%= pethistory.height %>
  </p>
  
  <p>
    <strong>Diagnóstico:</strong>
    <%= pethistory.diagnostic %>
  </p>
  
</div>

