
 <p style="color: green"><%= notice %></p>

  <div class="card border-success mb-3 card h-100 w-100" >

      <div class="card-header bg-transparent border-success">
          <h2><strong><%= @pet.name %></strong></h2>
      </div>

      <div class="card-body text-success">
        <h5 class="card-title"><strong></strong></h5>
       
        <p class="card-text">
          <p>Dueño                : <strong class="align-middle text-decoration-none text-center "><%= link_to "#{ @pet.owner}", holder_path(@pet.holder_id), class: "btn btn-success btn-sm text-dark bg-light"%></strong></p>
          <p>Tipo                 : <strong><%= @pet.typepet %></strong></p>
          <p>Raza                 : <strong><%= @pet.race %></strong></p>
          <p>Fecha Nacimiento     : <strong><%= l @pet.birthdate, format: "%d-%b-%Y" %></strong></p>
          <p>Cantidad Consultas   : <strong><%= @pet.q_appointments %></strong></p>

          <td>
            <% if @pet.q_appointments != 0  %>
              <div class="card-footer bg-transparent border-success">
                    <td>
                        <strong></strong>
                    </td>
                    <table class="table table-striped">
                      <thead class="thead-dark text-center">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Peso</th>
                          <th scope="col">Altura</th>
                          <th scope="col">Diagnostico</th>                            
                        </tr>
                      </thead>

                      <tbody>
                        <% nump = 1%>
                        <% @pet.pethistories.each do |hist| %>
                          <tr>
                            <td scope="row" class="align-middle text-decoration-none text-center "><%= link_to "#{nump}", pethistory_path(hist.id), class: "btn btn-success btn-sm text-dark bg-light"%></td>
                            <td scope="row" class="align-middle text-decoration-none text-center "> 
                              <%=l hist.created_at, format: "%d-%b-%Y" %> 
                              <%=l hist.created_at, format: "%H:%M" %> 
                            </td>  
                            <td scope="row" class="align-middle text-decoration-none text-center "><%= hist.weight %> kilos</td>
                            <td scope="row" class="align-middle text-decoration-none text-center "><%= hist.height %> cms</td>
                            <td scope="row" class="align-middle text-decoration-none "><%= hist.description %></td>  
                          </tr>
                          <% nump +=1%>
                        <% end  %>
                      </tbody>
                    </table>
              </div>
            <% end %>
          </td>  
            
        </p>

      </div>
          
      <div class="card-footer bg-transparent border-success">
        <% if @pet.q_appointments != 0 %>
            <table class="table table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Peso Maximo</th>
                  <th scope="col">Peso Promedio</th>
                  <th scope="col">Altura Maxima</th>
                  <th scope="col">Altura Promedio</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td scope="row"><%= "#{'%.1f' % @pet.weight_max }" %> kilos</td>
                    <td scope="row"><%= "#{'%.1f' % @pet.weight_avg }" %> kilos</td>
                    <td scope="row"><%= "#{'%.1f' % @pet.height_max }" %> cms</td>
                    <td scope="row"><%= "#{'%.1f' % @pet.height_avg }" %> cms</td>  
                  </tr>
              </tbody>
            </table>
        <% end %>
      </div>
     
      <div class="d-flex flex-row  justify-content-around">
        <div class="p-2"><%= button_to "Editar Mascota", edit_pet_path(@pet), method: :get  %>  </div>
        <div class="p-2"><%= button_to "Volver a Mascotas", pets_path, method: :get %></div>

        <div class="p-2">      
          <%= button_to "Eliminar", pet_path(@pet), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar Mascota seleccionada?')"%>
      </div>
      
  </div>

  <script>
    function confirmDestroy(message) {
      if (!confirm(message)) {
        return false;
      }
    }
  </script>

  <br>