<%= link_to "nuevo post", posts_new_path, class: "btn btn-info"%>

<%= search_form_for @q do |f| %>
  <%= f.label :author_cont %>
  <%= f.search_field :author_cont %>
<% end %>

<div class="row">

    <% @posts.each do |post| %>
            <div class="card col-4">
                <%= image_tag post.image_url%>
                <div class="card-body">
                    <h4 class="card-title"><%= post.author%> dice:</h4>
                    <h5 class="card-title"><%= post.title%></h5>
                    <h5 class="card-title"><%= post.status %></h5>
                    <p class="card-text"><%= post.description%></p>
                    <p class="card-text">hace <%= time_ago_in_words(post.created_at)%></p>
                    <%= link_to "show", post_path(post), class: "btn btn-info"%>
                    <%= link_to "edit", post_edit_path(post), class: "btn btn-success"%>
                    <%= link_to "destroy", post_path(post),
                        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                        class: "btn btn-warning" %>
                </div>
            </div>
    <% end %>

</div> 

<div class="row mt-5">
    <div class="col-md-8 ">
        <%= paginate @posts,  theme: 'twitter-bootstrap-4' %>
    </div>
</div>
<br>

