<div  id="<%= dom_id product %>" >
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Desciption:</strong>
    <%= product.desciption %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= product.cost %>
  </p>

  <p>
    <strong>T schedule:</strong>
    <%= product.t_schedule %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= product.img_url %>
  </p>

</div>
