<div id="<%= dom_id holder %>">
  <p>
    <strong>Name:</strong>
    <%= holder.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= holder.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= holder.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= holder.email %>
  </p>

</div>
