<p style="color: green"><%= notice %></p>

<h1>Concerts</h1>

<div id="concerts">
  <% @concerts.each do |concert| %>



     <table class="table table-striped table-bordered table-hover text-white text-decoration-none">
            <thead>
                <tr th class="align-middle text-center text-decoration-none"> 
                    <th scope="col"> Grupo</th>
                    <th scope="col">A</th>
                    <th scope="col"> <%= sort_link(@q, :author, "Autor") %></th>
                    <th scope="col"> <%= sort_link(@q, :descrip, "Categoria") %></th>
                    <th scope="col"> <%= sort_link(@q, :status, "Situacion") %></th>
                    <th scope="col"> <%= sort_link(@q, :fechprestm, "Fecha Prestm") %></th>
                    <th scope="col"> <%= sort_link(@q, :fechdevol, "Fecha Devoluc") %></th>
                    
                </tr>
            </thead>
            <tbody class="text-decoration-none" >
                <% @libros.each do |libro| %>
                    <tr>    
                        <td class="align-middle text-center" >
                            <%= image_tag(libro.image_url, size: "60x60") %>    
                        </td>
                        <td class="align-middle text-center">
                            <h6><strong><%= libro.title %><h6>
                        </td>
                        <td class="align-middle ">
                            <%= libro.author %>
                        </td>
                        <td class="align-middle text-center">
                            <%= libro.descrip %>
                        </td>
                        <td class="align-middle text-center">
                            <%= libro.status %>
                        </td>
                        <td td class="align-middle ">
                            <%= localize libro.fechprestm, format: "%d-%b-%Y" %>
                        </td>
                        <td td class="align-middle">
                            <% if libro.fechdevol == nil  %>
                                <p class="card-title">Prest. hace <%= time_ago_in_words(libro.fechprestm)%></p>
                                
                                <% elsif %>
                                <%= localize libro.fechdevol, format: "%d-%b-%Y" %>
                            <% end %>
                        </td>
                        <td class="align-middle text-decoration-none ">
                            <%= link_to "Ver", libro_path(libro), class: "btn btn-info btn-sm"%>
                        </td>
                        <td class="align-middle">
                            <%= link_to "Editar", libro_edit_path(libro), class: "btn btn-light btn-sm"%>
                        </td>

                        <td class="align-middle">
    
                                <!-- Protección CSRF -->
                                <%= token_tag nil %> 
    
                                <%= button_to "Eliminar", libro_path(libro), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar el Libro seleccionado?')"%>

                         </td>

                    </tr>
                    <% end %>
            </tbody>
    </table>



    <p>
      <%= link_to "Show this concert", concert %>
    </p>
  <% end %>
</div>

<%= link_to "New concert", new_concert_path %>
